# The default Firestore document path to load on startup
VITE_DEFAULT_DOC_PATH=test/doc1

# Your Firebase Project ID
VITE_DEFAULT_PROJECT_ID=demo-y-cinder

# Firebase Authentication and API Settings (found in Firebase Console)
VITE_DEFAULT_API_KEY=
VITE_DEFAULT_APP_ID=
VITE_DEFAULT_AUTH_DOMAIN=

# Set to 'false' to connect to production Firebase, or 'true' to use the local emulator suite
VITE_USE_EMULATOR=false
